<div class="card mx-5 my-5">
  <div class="card-body">
    <h1 class="card-title text-center">Olá!</h1>
    <div class="card-text m-4 text-center fs-4">
      <div class="m-1">
        <span>Seja Bem vindo!</span>
      </div>
      <div class="m-2">
        <button routerLink="/inicio/login" class="e139_2698 e139_2699 btn">
          <span>Login</span>
        </button>
      </div>
      <div>
        <button routerLink="/inicio/cadastro" class="e139_2701 e139_2702 btn">
          <span>Cadastrar</span>
        </button>
      </div>
    </div>
  </div>
</div>

