<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SEE</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="e139_2690">
      <div class="e139_2691">
          <span class="e139_2692">SEE</span>
          <br>
          <span class="e139_2692">Sistema Economia de energia</span>
      </div>
      <div class="e139_2693"><div class="e139_2694"></div></div>
    </div>
    <div class="d-flex">
      <div>
        <router-outlet></router-outlet>
      </div>
      <div>
        <div class="e150_2703"></div>
      </div>
    </div>
    <!-- <div>
      <div class="e139_2688"></div>
      <div class="e139_2689"></div>
      <div class="e185_2702"></div>
      <div class="e139_2687"></div>
      <div class="e139_2690">
        <div class="e139_2691">
            <span class="e139_2692">SEE</span>
            <br>
            <span class="e139_2692">Sistema Economia de energia</span>
        </div>
        <div class="e139_2693"><div class="e139_2694"></div></div>
      </div> -->

      <!-- <div class="e150_2703"></div>
    </div> -->
  </body>
</html>

