<div class="card mx-5 my-5">
  <div class="card-body">
    <h1 class="card-title text-center">Login</h1>
    <div class="card-text m-4 text-center fs-4">
      <div class="m-2">
        <input type="email" placeholder="E-mail" class="form-control email"/>
      </div>
      <div class="m-2">
        <input type="password" placeholder="Senha" class="form-control senha" />
      </div>
      <div>
        <button routerLink="/inicio" class="e139_2698 e139_2699 btn">
          <span>Login</span>
        </button>
      </div>
    </div>
  </div>
</div>

