<div class="e139_2695">
  <span class="e139_2696">Cadastro</span>
  <span class="e139_2697">Bem vindo</span>
  <br /><br /><br /><br /><br /><br /><br />
  <label for="">Nome</label>
  <input type="text" class="form-control nome" valu="Nome" />
  <label for="">E-mail</label>
  <input type="text" class="form-control email" valu="Email" />
  <label for="">Senha</label>
  <input type="text" class="form-control senha" value="Senha" />
  <button routerLink="/inicio" class="e139_2698 e139_2699 btn">
    <span>Cadastrar</span>
  </button>
</div>
