<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SEE</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div>
      <div class="e139_2688"></div>
      <div class="e139_2689"></div>
      <div class="e185_2702"></div>
      <div class="e139_2687"></div>
      <div class="e139_2690">
        <div class="e139_2691">
            <span class="e139_2692">SEE</span>
            <br>
            <span class="e139_2692">Sistema Economia de energia</span>
        </div>
        <div class="e139_2693"><div class="e139_2694"></div></div>
      </div>
      <div class="e139_2695">
        <span class="e139_2696">Cadastro</span>
        <span class="e139_2697">Bem vindo</span>
        <br><br><br><br><br><br><br>
        <label for="">Nome</label>
        <input type="text" class="form-control nome" valu="Nome">
        <label for="">E-mail</label>
        <input type="text" class="form-control email" valu="Email">
        <label for="">Senha</label>
        <input type="text" class="form-control senha" value="Senha">
        <button routerLink="/inicio" class="e139_2698 e139_2699 btn">
          <span>Cadastrar</span>
        </button>
      </div>
      <div class="e150_2703"></div>
    </div>
  </body>
</html>

