.e198_2699 {
	overflow:hidden;
}
/* .e198_2699 {
	background-color:rgba(255, 255, 255, 1);
	width:1086px;
	height:1024px;
	position:absolute;
} */
.e198_2760 {
	background-color:rgba(40.00000141561031, 229.00000154972076, 165.00000536441803, 1);
	/* width:100%;
	height:102px;
	position:absolute; */
	/* left:275px; */
	/* top:0px; */
}

.space{
  margin-left: -15px;
}

.bg{
  background-color:rgba(40.00000141561031, 229.00000154972076, 165.00000536441803, 1);
}

.bg-2{
  background-color:rgba(250.00000029802322, 201.00000321865082, 143.00000667572021, 1);
}

.bells{
  background-color: white;
  height: 25px;
  width: 25px;
  border-top-left-radius:103px;
	border-top-right-radius:103px;
	border-bottom-left-radius:103px;
	border-bottom-right-radius:103px;
}

.b-example-divider{
  height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.navbar-brand{
  font-family:Poppins;
  font-size: 25px;
}

.form-control{
  width: 500px;
}

.navbar{
  padding: 0 !important;
}

.e198_2761 {
	background-color:rgba(40.00000141561031, 229.00000154972076, 165.00000536441803, 1);
	width:275px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e198_2762 {
	background-color:rgba(40.00000141561031, 229.00000154972076, 165.00000536441803, 1);
	width:100%;
	height:72px;
	position:absolute;
	left:226px;
	top:952px;
}
/* .e198_2764 {
	width:889px;
	height:309px;
	position:absolute;
	left:508px;
	top:151px;
} */
.e148_2724 {
	background-color:rgba(255, 255, 255, 1);
	width:789px;
	height:309px;
	position:absolute;
	left: 350px;
  right: 400px;
	top:150px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e148_2724 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e148_2745 {
  border-top-left-radius:20px;
	border-top-right-radius:20px;
	background-color:rgba(40.00000141561031, 229.00000154972076, 165.00000536441803, 1);
	width:789px;
	height:89px;
	position:absolute;
	left:0px;
	top:0px;
	/* border-radius:Symbol(figma.mixed)px; */
}
.e148_2742 {
	width:265px;
	height:53px;
	position:absolute;
	left:604px;
	top:224px;
}
.e148_2743 {
	background-color:rgba(250.00000029802322, 201.00000321865082, 143.00000667572021, 1);
	width:265px;
	height:53px;
	position:absolute;
	left:-140px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e148_2744 {
	color:rgba(0, 0, 0, 1);
	width:138.92823791503906px;
	height:21.794340133666992px;
	position:absolute;
	left:107px;
	top:0.4711265563964844px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e149_2761 {
	background-color:rgba(255, 255, 255, 1);
	width:307px;
	height:50.091182708740234px;
	position:absolute;
	left:50px;
	top:117.40121459960938px;
	border-radius:5px;
}
.e149_2761 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e149_2769 {
	background-color:rgba(255, 255, 255, 1);
	width:307px;
	height:50.091182708740234px;
	position:absolute;
	left:545px;
	top:113.64437866210938px;
	border-radius:5px;
}
.e149_2769 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e149_2768 {
	background-color:rgba(255, 255, 255, 1);
	width:307px;
	height:50.091182708740234px;
	position:absolute;
	left:50px;
	top:210.38296508789062px;
	border-radius:5px;
}
.e149_2768 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e149_2765 {
	color:rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
	width:307px;
	/* height:23.72740364074707px; */
	position:absolute;
	left:50px;
	top:129.61094665527344px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e149_2762 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e149_2762 {
	width:16px;
	height:21.091026306152344px;
	position:absolute;
	left:53px;
	top:133.36778259277344px;
}
.e149_2763 {
	border:1px solid rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
}
.e149_2763 {
	width:12px;
	height:9.66672134399414px;
	position:absolute;
	left:2px;
	top:9.66672134399414px;
}
.e149_2764 {
	border:1px solid rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
}
.e149_2764 {
	width:6.666666507720947px;
	height:7.909135341644287px;
	position:absolute;
	left:4.666666507720947px;
	top:1.7575855255126953px;
}
.e148_2755 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e148_2755 {
	width:16px;
	height:21.091026306152344px;
	position:absolute;
	left:566.5px;
	top:129.61094665527344px;
}
.e148_2756 {
	border:1px solid rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
}
.e148_2756 {
	width:12px;
	height:9.66672134399414px;
	position:absolute;
	left:2px;
	top:9.66672134399414px;
}
.e148_2757 {
	border:1px solid rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
}
.e148_2757 {
	width:6.666666507720947px;
	height:7.909135341644287px;
	position:absolute;
	left:4.666666507720947px;
	top:1.7575855255126953px;
}
.e148_2758 {
	color:rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
	/* width:107px;
	height:23.72740364074707px; */
	position:absolute;
	left:434px;
	top:125.8541030883789px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e148_2752 {
	color:rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
	/* width:122px;
	height:23.72740364074707px; */
	position:absolute;
	left:50px;
	top:222.59271240234375px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e148_2749 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e148_2749 {
	width:16px;
	height:21.091026306152344px;
	position:absolute;
	left:53px;
	top:222.59271240234375px;
}
.e148_2750 {
	border:1px solid rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
}
.e148_2750 {
	width:11.999999046325684px;
	height:9.66672134399414px;
	position:absolute;
	left:2px;
	top:9.66672134399414px;
}
.e148_2751 {
	border:1px solid rgba(32.00000189244747, 48.000000938773155, 96.00000187754631, 1);
}
.e148_2751 {
	width:6.6666669845581055px;
	height:7.909135341644287px;
	position:absolute;
	left:4.666666507720947px;
	top:1.7575855255126953px;
}
.e148_2726 {
	color:rgba(57.00000040233135, 57.00000040233135, 57.00000040233135, 1);
	width:385.9075927734375px;
	height:42.26443862915039px;
	/* position:absolute;
	left:-70px;
	top:26px; */
  padding-left: 20px;
	font-family:Poppins;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e148_2707 {
	background-color:rgba(255, 255, 255, 1);
	width:468px;
	height:38px;
	position:absolute;
	left:325px;
	top:32px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e148_2708 {
	color:rgba(0, 0, 0, 1);
	width:468px;
	height:38px;
	position:absolute;
	left:36px;
	top:6px;
	font-family:Bitter;
	text-align:left;
	font-size:20px;
	letter-spacing:1;
}
.e148_2709 {
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:7px;
}
.e148_2710 {
	border:2px solid rgba(0, 0, 0, 1);
}
.e148_2710 {
	width:19px;
	height:19px;
	position:absolute;
	left:2px;
	top:2px;
}
.e148_2649 {
	width:108px;
	height:52px;
	position:absolute;
	left:32px;
	top:125px;
}
.e148_2650 {
	border-radius:500px;
	width:52px;
	height:52px;
	/* position:absolute;
	left:0px;
	top:0px; */
	background-image:url(/assets/images/ellipse_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e148_2651 {
	width:44px;
	height:38px;
	position:absolute;
	left:64px;
	top:8px;
}
.e148_2652 {
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Bitter;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
}
.e148_2653 {
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:16px;
	position:absolute;
	left:0px;
	top:22px;
	font-family:Bitter;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
}
.e148_2673 {
	width:31.03510284423828px;
	height:27.10190200805664px;
	position:absolute;
	left:216.42889404296875px;
	top:137px;
}
.ei148_2673_3174_9357 {
	width:31.03510284423828px;
	height:27.10190200805664px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei148_2673_3173_21618 {
	width:31.03510284423828px;
	height:27.10190200805664px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei148_2673_3173_21620 {
	background-color:rgba(0, 0, 0, 1);
	width:9.698470115661621px;
	height:8.469345092773438px;
	position:absolute;
	left:10.668396949768066px;
	top:9.316279411315918px;
}
.ei148_2673_3173_21621 {
	background-color:rgba(0, 0, 0, 1);
	width:27.828142166137695px;
	height:23.01613998413086px;
	position:absolute;
	left:1.6164538860321045px;
	top:2.0465376377105713px;
}
.ei148_2673_3174_9164 {
	width:31.03510284423828px;
	height:27.10190200805664px;
	position:absolute;
	left:0px;
	top:0px;
}
.e202_2699 {
	width:80.4096450805664px;
	height:75px;
	position:absolute;
	left:32px;
	top:20px;
}
.e202_2700 {
	width:80.4096450805664px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.e202_2701 {
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:80.4096450805664px;
	height:75px;
	/* position:absolute;
	left:0px;
	top:0px; */
	border-top-left-radius:103px;
	border-top-right-radius:103px;
	border-bottom-left-radius:103px;
	border-bottom-right-radius:103px;
	background-image:url(/assets/images/logo.png);
	background-repeat:no-repeat;
	background-size: 125px;
  background-position: center;
}
.e202_2701 {
	border:1px solid rgba(22.000000588595867, 30.00000011175871, 53.00000064074993, 1);
}
.e202_2702 {
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 0.4000000059604645);
	width:45px;
	height:45px;
	position:absolute;
	left:1220px;
	top:20px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e202_2703 {
	width:30px;
	height:30px;
	position:absolute;
	left:7.5px;
	top:7.5px;
}
.e202_2704 {
	background-color:rgba(0, 0, 0, 1);
	width:22.50037384033203px;
	height:25.002628326416016px;
	position:absolute;
	left:3.75px;
	top:2.49755859375px;
}
.e202_2705 {
	border-radius:500px;
	background-color:rgba(255, 0, 0, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:16.25px;
	top:2.5px;
}
.e202_2705 {
	border:1.25px solid rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
}
.e202_2706 {
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:59px;
	position:absolute;
	left:124px;
	top:24px;
	font-family:Poppins;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e148_2654 {
	width:273px;
	height:453.4158935546875px;
	position:absolute;
	left:0px;
	top:231px;
}
.e148_2655 {
	width:273px;
	height:453.4158935546875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e148_2656 {
	transform: rotate(0.000005008956538086317deg);
	width:273px;
	height:0px;
	position:absolute;
	left:0px;
	top:453.4158630371094px;
}
.e148_2656 {
	border:1.0182926654815674px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e148_2657 {
	width:272px;
	height:165.415771484375px;
	position:absolute;
	left:1px;
	top:0px;
}
.e148_2658 {
	box-shadow:0px 27.10190200805664px 67.7547607421875px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:272px;
	height:62px;
	position:absolute;
	left:0px;
	top:103.415771484375px;
	border-radius:10px;
}
.e148_2658 {
	border:1.3550951480865479px solid rgba(0, 0, 0, 1);
}
.e148_2659 {
	width:160.7394561767578px;
	height:147.416015625px;
	position:absolute;
	left:38.99974060058594px;
	top:0px;
}
.e148_2660 {
	width:148.7389678955078px;
	height:28.430767059326172px;
	position:absolute;
	left:0px;
	top:0px;
}
.e148_2661 {
	color:rgba(22.000000588595867, 30.00000011175871, 53.00000064074993, 1);
	width:100px;
	height:23px;
	position:absolute;
	left:48.73896408081055px;
	top:3.553154706954956px;
	font-family:Bitter;
	text-align:left;
	font-size:18.971332550048828px;
	letter-spacing:1;
}
.e148_2662 {
	width:28.430767059326172px;
	height:28.430767059326172px;
	position:absolute;
	left:0px;
	top:0px;
}
.e148_2663 {
	background-color:rgba(22.000000588595867, 30.00000011175871, 53.00000064074993, 1);
	width:11.84615421295166px;
	height:25.4692325592041px;
	position:absolute;
	left:1.4812593460083008px;
	top:1.4808622598648071px;
}
.e148_2664 {
	background-color:rgba(22.000000588595867, 30.00000011175871, 53.00000064074993, 1);
	width:11.84615421295166px;
	height:14.807692527770996px;
	position:absolute;
	left:15.103670120239258px;
	top:1.4808622598648071px;
}
.e148_2665 {
	background-color:rgba(22.000000588595867, 30.00000011175871, 53.00000064074993, 1);
	width:11.84615421295166px;
	height:8.884615898132324px;
	position:absolute;
	left:15.103670120239258px;
	top:18.064897537231445px;
}
.e148_2666 {
	width:158.73895263671875px;
	height:29px;
	position:absolute;
	left:0.000244140625px;
	top:61.415870666503906px;
}
.e148_2667 {
	color:rgba(12.000000234693289, 12.000000234693289, 13.000000175088644, 1);
	width:109px;
	height:23px;
	position:absolute;
	left:49.73895263671875px;
	top:3.69183349609375px;
	font-family:Bitter;
	text-align:left;
	font-size:18.971332550048828px;
	letter-spacing:1;
}
.e148_2668 {
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei148_2668_111_393 {
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei148_2668_111_394 {
	width:13.736495018005371px;
	height:13.062080383300781px;
	position:absolute;
	left:7.6366753578186035px;
	top:7.97497034072876px;
}
.i148_2668_111_395 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2668_111_395 {
	width:4.579556941986084px;
	height:7.5641045570373535px;
	position:absolute;
	left:1.5894572413799324e-7px;
	top:5.497975826263428px;
}
.i148_2668_111_396 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2668_111_396 {
	width:4.579593658447266px;
	height:13.05005931854248px;
	position:absolute;
	left:4.5690107345581055px;
	top:1.5894572413799324e-7px;
}
.i148_2668_111_397 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2668_111_397 {
	width:4.579593658447266px;
	height:5.497975826263428px;
	position:absolute;
	left:9.156901359558105px;
	top:7.552083492279053px;
}
.i148_2668_111_398 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2668_111_398 {
	width:24.16666603088379px;
	height:24.16666603088379px;
	position:absolute;
	left:2.4166667461395264px;
	top:2.4166667461395264px;
}
.ei148_2668_111_399 {
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}
.e148_2669 {
	width:158.7389678955078px;
	height:29px;
	position:absolute;
	left:2.00048828125px;
	top:118.416015625px;
}
.e148_2670 {
	color:rgba(12.000000234693289, 12.000000234693289, 13.000000175088644, 1);
	width:109px;
	height:23px;
	position:absolute;
	left:49.73896408081055px;
	top:4.553154945373535px;
	font-family:Bitter;
	text-align:left;
	font-size:18.971332550048828px;
	letter-spacing:1;
}
.e148_2671 {
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei148_2671_111_406 {
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei148_2671_111_407 {
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}
.i148_2671_111_408 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2671_111_408 {
	width:23.564443588256836px;
	height:19.33333396911621px;
	position:absolute;
	left:2.7177793979644775px;
	top:7.25px;
}
.i148_2671_111_409 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2671_111_409 {
	width:9.666666984558105px;
	height:4.833333492279053px;
	position:absolute;
	left:9.666666984558105px;
	top:2.4166667461395264px;
}
.i148_2671_111_410 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2671_111_410 {
	width:4.833333492279053px;
	height:4.833333492279053px;
	position:absolute;
	left:12.083333015441895px;
	top:14.5px;
}
.i148_2671_111_411 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2671_111_411 {
	width:9.243749618530273px;
	height:3.64916729927063px;
	position:absolute;
	left:16.91666603088379px;
	top:13.291666984558105px;
}
.i148_2671_111_412 {
	border:1.5px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}
.ei148_2671_111_412 {
	width:8.917500495910645px;
	height:3.3349990844726562px;
	position:absolute;
	left:3.1658332347869873px;
	top:13.61791706085205px;
}
.ei148_2671_111_413 {
	transform: rotate(-180deg);
	width:29px;
	height:29px;
	position:absolute;
	left:29px;
	top:29px;
}
.e148_2672 {
	box-shadow:0px 8px 12px rgba(134.76484537124634, 144.55713272094727, 232.68750607967377, 0.30000001192092896);
	background-color:rgba(22.000000588595867, 30.00000011175871, 53.00000064074993, 1);
	width:6px;
	height:40px;
	position:absolute;
	left:1px;
	top:118.415771484375px;
	/* border-radius:Symbol(figma.mixed)px; */
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}
