<div class="container w-75 align-self-end">
  <div class="card">
    <div class="card-header bg">Cadastrar Dispositivos</div>
    <div class="card-body">
      <form class="form-inline">
        <div class="form-group md-2 d-flex">
          <input
            type="text"
            class="mx-2 form-control w-50"
            id="nome"
            placeholder="Nome"
          />
          <input
            type="text"
            class="form-control w-50"
            id="voltagem"
            placeholder="Tempo de utilização - H"
          />
        </div>
        <br />
        <div class="form-group md-2 d-flex">
          <input
            type="text"
            class="mx-2 form-control w-50"
            id="consumo"
            placeholder="Consumo - V"
          />
          <button type="submit" class="bg-2 text-dark btn btn-primary mb-2">
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
