
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SEE</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div>
      <div class="top">

      </div>
      <div class="side-menu">

      </div>
      <div class="form-cadastro">

      </div>

      <div class="cadastrar-dispositivo">
        <div class="text-see">
          <b>SEE - Sistema de Economia de Energia - &copy; 2022 Marcilio Freitas</b>
        </div>
      </div>
    </div>
  </body>
</html>
